/* 
    Document   : greco
    Created on : 11 de septiembre de 2006, 15:29
    Author     : Software AG para la JCCM
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/* PARTE DINAMICA DEL CSS */
/* A:link    { color: red }   */
/*A:visited { color: blue }*/
/*A:hover   { color: yellow }*/ 
/*A:active  { color: lime }   */
/*A:focus { background: yellow }*/
/*A:focus:hover { background: white }*/
/*:focus {background: yellow}*/
/*:active { color: lime }*/
/* A:link    { background: yellow  }*/
/* A:hover#link   { background: lime }*/

/*
@import url("../webjars/bootstrap/5.1.0/css/bootstrap.css");
@import url("../webjars/bootstrap/5.1.0/css/bootstrap.min.css");
*/
 
/*  PARTE NORMAL DE CSS */
html, body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
    font-size: 90%;
	font-weight: normal;          
    
    text-align: justify;
    align: center;
    
    color: #00227b;
    margin-left: 0em;
    margin-top: 0em;
    background-attachment: fixed;
    background-color: white;
    scrollbar-face-color: #00257e; 
    scrollbar-highlight-color: #ffffff; 
    scrollbar-shadow-color: #ffffff; 
    scrollbar-3dlight-color: #b20060; 
    scrollbar-arrow-color: #FFFFFF; 
    scrollbar-track-color: #b20060; 
    scrollbar-darkshadow-color: #00257e;
}
h1,h2,h3,h4 { margin: 0.2em 0 }

.primeraColumna {
	width: 4%;
}

.segundaColumna {
	width: 60%;
}

.terceraColumna {
	width: 3%;
	text-align: center;
	vertical-align: middle;
}

.cuartaColumna {
	width: 10%;
}

.marcaError
{
	font-style: italic;
	color: red; 
	font-weight: bold;
}

.proteger {
	background-color: #f0ebe1;
	color: #000000;
}

.readonly {
	background-color: #f0ebe1;
	color: #000000;
}

.fondoAreaSujetosPasivos{ background: #e0e0e0; }
.fondoAreaTransmitentes { background: #e0e0e0; }
.fondoAreaBienesUrbanos { background: #f9ecf5; }
.fondoAreaBienesRusticos { background: #e6fee2; }
.fondoAreaBienesOtros { background: #e9ecf5; }

.fondoArea1 { background: #ffff99; }
.fondoArea2 { background: #ccffcc; }
.fondoArea3 { background: #ffcc99; }

.textotitulo
{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
    font-size: 100%;
    font-weight: bold;   
}

.textosubtitulo{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
    font-size: 80%;
}
.alineamientoDerecha
{
	text-align: right;
}

.alineamientoIzquierda
{
	text-align: left;
}

.alineamientoCentro {
	text-align: center;
}

.visible {
	visibility: visible;
}

.novisible {
	visibility: hidden;
}

div.oculto {
	display: none;
}

/* CLASES PARA LA CABECERA */
div.principal
{
	position: absolute;
	top: 5px;
	left: 0px;
	padding-top: 5px;
	text-align: center;
	padding-left: 4%;
	padding-right: 4%;
	width: 100%;
	z-index: 0;
	
	min-width: 320px;
	display: inline-block;
}

div.principalIndex
{
	position: absolute;
	top: 5px;
	left: 0px;
	padding-top: 5px;
	text-align: center;
	padding-left: 4%;
	padding-right: 4%;
	width: 92%;
	z-index: 0;

}


/** CARACTERISTICAS PARA EL MARGEN PRINCIPAL*/
div.PrincipalConCabeceraOficinaElectronica
{
	top: 5px;
	left: 0px;
	padding-top: 5px;
	text-align: center;
	padding-left: 8%;
	padding-right: 8%;
	width: 84%;
	z-index: 0;
	
}


/* CLASES PARA LA CABECERA */
div.principalHtml
{
	position: absolute;
	top: 5px;
	left: 0px;
	padding-top: 5px;
	text-align: center;
	padding-left: 8%;
	padding-right: 8%;
	width: 100%;
	z-index: 0;

}

div.principalTexto
{
	text-align: justify;
	z-index: inherit;
}

/* COMUNES */
div.cabecera
{
	position: relative;
	padding: 0px 0px 0px 0px; 
	width:100%;
	z-index: inherit;
}
div.columnaCabeceraImagen
{
	float:left;
	width:40%;
	z-index: inherit;
}

div.columnaCabeceraDatos
{
	float:left;
	width:60%;
	z-index: inherit;
}

div.columnaCabeceraDatosParaResponsive
{
	float:left;
	width:60%;
	z-index: inherit;
}


@media (max-width: 850px) 
{
	div.columnaCabeceraDatosParaResponsive
	{
		float:none;
		width:100%;
		z-index: inherit;
	}
}


div.fila
{
	clear:both;
	/*padding-top:5px;*/
	text-align: left;
	vertical-align: middle;
	z-index: inherit;
	
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	/*display: flex;*/
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-0.5 * var(--bs-gutter-x));
	margin-left: calc(-0.5 * var(--bs-gutter-x));
	
	flex-shrink: 0;
	/*width: 100%;*/
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-top: var(--bs-gutter-y);
}

div.filaNumeroBien
{
	clear:both;	
	text-align: left;	
	z-index: inherit;
	position: relative;
}

div.filaInterlineadoInput
{
	clear:both;
	padding-top:12px;
	padding-down:12px;
	text-align: left;
	vertical-align: middle;
	z-index: inherit;
}
div.fila2px
{
	clear:both;
	padding-top:2px;
	text-align: left;
	vertical-align: middle;
	z-index: inherit;
}
div.filaSepardor
{
	clear:both;
	padding-top:15px;
	text-align: left;
	z-index: inherit;
}

div.filaSepardor5px
{
	clear:both;
	padding-top:5px;
	text-align: left;
	z-index: inherit;
}

div.filaSepardor12px
{
	clear:both;
	padding-top:12px;
	text-align: left;
	z-index: inherit;
}

div.filaSepardor10px
{
	clear:both;
	padding-top:10px;
	text-align: left;
}

/* Esta tipo de capa separa las diferentes secciones de un modelo */
div.filaSeparadorDeContenidos
{
	clear:both;
	padding: 3px 3px 3px 3px; 
	padding-top:20px;
	text-align: justify;
	vertical-align: middle;
	width: 100%
}
div.filaCentrada
{
	position:relative;	
	padding-top:5px;
	text-align: center;
	vertical-align: middle;
	z-index: inherit;
}
div.filaSinMargen
{
	clear:both;
	text-align: left;
	vertical-align: middle;
}
div.filaTextoCentrado
{
	clear:both;
	padding-top:5px;
	text-align: center;
	vertical-align: middle;
}

div.col
{
	float:left;
	padding:2px;
	padding-right:10px;
	vertical-align: middle;
	width: inherit;

	flex: 1 0 0%;
}

div.colCamposBien
{
	float:left;
	padding:6px 6px 6px 6px;
	border-left-style: solid;
	border-left-color: #003366;
	border-left-width: 2px;		
	width: 90%;	
}

div.colSinMargenDerecha
{
	float:left;
	padding:0px;
	padding-right:0px;
	vertical-align: middle;
}

div.colCentrada
{
	float: inherit;
	padding:2px;
	padding-right:10px;
	text-align: center;
	vertical-align: middle;
}

div.colAlineamientoDerecha
{
	float:right;
	padding:2px;
	padding-right:10px;
	vertical-align: middle;
}

div.colSeparador10px
{
	width: 10px;
}

div.colNumeroBienUrbano
{
	float:left;	
	text-align:center;		
	line-height: 190px;		
	width: 4%;
}

div.colNumeroBienRustico
{
	float:left;	
	text-align:center;		
	line-height: 180px;
	width: 4%;	
}

div.colNumeroBienOtro
{
	float:left;	
	text-align:center;		
	line-height: 70px;
	width: 4%;
}

div.colNumeroSujetoPasivo
{
	float:left;	
	text-align:center;		
	line-height: 90px;
	width: 4%;
}

div.colNumeroDeuda
{
	float:left;	
	text-align:center;		
	line-height: 40px;
	width: 4%;
}

/* Separadores de columnas */

div.colpx
{
	float:left;
	padding: 0px 0px 0px 0px;
	padding-right: 5px;
	vertical-align: middle;
}


div.col5px
{
	float:left;
	padding:2px;
	padding-right:5px;
	vertical-align: middle;
	text-align: inherit;
}

div.col10px
{
	float:left;
	padding:2px;
	padding-right:10px;
	vertical-align: middle;
}

div.col20px
{
	float:left;
	padding:2px;
	padding-right: 20px;
	vertical-align: middle;
}

div.col50px
{
	float:left;
	padding:2px;
	padding-right:50px;
	vertical-align: middle;
}

div.col80px
{
	float:left;
	padding:2px;
	padding-right:80px;
	vertical-align: middle;
}

div.col100px
{
	float:left;
	padding:2px;
	padding-right: 100px;
	vertical-align: middle;
}

div.col120px
{
	float:left;
	padding:2px;
	padding-right: 100px;
	vertical-align: middle;
}


div.col200px
{
	float:left;
	padding:2px;
	padding-right: 200px;
	vertical-align: middle;
}


/** Ancho del div */

div.colWidth10px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 10px;
}


div.colWidth20px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 20px;
}

div.colWidth30px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 30px;
}

div.colWidth30Inferior
{
	float:left;
	padding:10px;
	padding-right:5px;
	width: 30px;
	vertical-align: bottom;
	
	
}


div.colWidth50px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 50px;
}

div.colWidth55px
{
	float:left;
	padding:2px;
	padding-right:5px;
	padding-top: 5px;
	width: 55px;
	vertical-align: middle;
}

div.colWidth80px
{
	float:left;
	padding:2px;
	padding-right:5px;
	padding-top: 5px;
	width: 80px;
	vertical-align: middle;
}
div.colWidth90px
{
	float:left;
	padding:2px;
	padding-right:5px;
	padding-top: 5px;
	width: 108px;
	vertical-align: middle;
}



div.colWidth120px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 120px;
	vertical-align: middle;
}

div.colWidth130px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 130px;
}

div.colWidth140Inferior
{
	float:left;
	padding:10px;
	padding-right:5px;
	width: 140px;
	vertical-align: bottom;
	
	
}

div.colWidth140pxReal
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 140px;
}

div.colWidth140px
{
	float:left;
	padding:2px;
	padding-right:5px;
	width: 165px; 
	vertical-align: middle;
}

div.colWidth150px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 150px;
}

div.colWidth160px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 160px;
}

div.colWidth180px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 180px;
}

div.colWidth185px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 185px;
}

div.colWidth185inferior
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 185px;
	vertical-align: bottom;
}




div.colWidth190px
{
	float:left;
	padding:2px;
	padding-right:5px;
	width: 190px;
}

div.colWidth200inferior
{
	float:left;
	padding:10px;
	padding-right:5px;
	width: 200px;
	vertical-align: bottom;
}

div.colWidth200px
{
	float:left;
	padding:2px;
	padding-right:5px;
	width: 200px;
}
div.colWidth210px
{
	float:left;
	padding:2px;
	padding-right:5px;
	width: 210px;
}

div.colWidth210Inferior
{
	float:left;
	padding:10px;
	padding-right:5px;
	width: 210px;
	vertical-align: bottom;
}

div.colWidth212px
{
	float:left;
	padding:2px;
	padding-right:5px;
	width: 212px;
}

div.colWidth220Inferior
{
	float:left;
	padding:10px;
	padding-right:5px;
	width: 220px;
	vertical-align: bottom;
}

div.colWidth230px
{
	float:left;
	padding:2px;
	padding-right:5px;
	width: 230px;
}

div.colWidth240Inferior
{
	float:left;
	padding:10px;
	padding-right:5px;
	width: 240px;
	vertical-align: bottom;
}

div.colWidth240
{
	float:left;
	padding:10px;
	padding-right:5px;
	width: 240px;
}

div.colWidth250px
{
	float:left;
	padding:2px;
	padding-right:5px;
	width: 250px;
}


div.colWidth255Inferior
{
	float:left;
	width: 275px;
	vertical-align: bottom;
}

div.colWidth273px
{
	float:left;
	padding:2px;
	padding-right:5px;
	width: 273px;
}

div.colWidth265px
{
	float:left;
	padding:2px;
	padding-right:5px;
	width: 265px;
}

div.colWidth280px
{
	float:left;
	padding:2px;
	padding-right:5px;
	background: inherit;
	width: 280px;
}
div.colWidth280Inferior
{
	float:left;
	padding:10px;
	padding-right:5px;
	width: 280px;
	vertical-align: bottom;
}

div.colWidth290px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 290px;
}

div.colWidth300px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 300px;
}

div.colWidth320px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 320px;
}

div.colWidth350px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 350px;
}

div.colWidth350Inferior
{
	padding: 10px 0px 0px 0px; 
	text-align: left;
	vertical-align: bottom;
	float:left;
	width: 350px;
}

div.colWidth450
{
	padding: 4px 0px 0px 0px; 
	text-align: left;
	vertical-align: bottom;
	float:left;
	width: 450px;
}

div.colWidth450Inferior
{
	padding: 10px 0px 0px 0px; 
	text-align: left;
	vertical-align: bottom;
	float:left;
	width: 450px;
}

div.colWidth530Inferior
{
	padding: 10px 0px 0px 0px; 
	text-align: left;
	vertical-align: bottom;
	float:left;
	width: 530px;
}

div.colWidth400px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 400px;
}

div.colWidth410px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 410px;
}


div.colWidth420px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 420px;
}

div.colWidth450px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 450px;
}

div.colWidth470px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 470px;
}

div.colWidth500px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 500px;
}

div.colWidth510px
{
	float:left;
	padding: 0px 0px 0px 0px;
	width: 510px;
}

div.colWidth50x100
{
	float:left;
	padding-left:10px;
	padding-right:5px;
	width: 47%;
}

div.colWidth45px_nw
{
	float:left;
	padding:1px;	
	padding-top: 5px;
	width: 45px;
	vertical-align: middle;
}
div.colWidth250px_nw
{
	float:left;
	padding:1px;	
	padding-top: 5px;
	width: 250px;
	vertical-align: middle;
}
div.colWidth95px_nw
{
	float:left;
	padding:1px;	
	padding-top: 5px;
	width: 95px;
	vertical-align: middle;
}
div.colWidth250px_der_nw
{
	float:right;
	padding:1px;	
	padding-top: 5px;
	width: 250px;
	vertical-align: middle;
}
div.colCentrada_nw
{	
	padding:2px;	
	text-align: center;
	vertical-align: middle;
}

div.colIngresos
{
	float:left;
	padding:2px;
	padding-right:50px;
	vertical-align: middle;
}


div.contenidoCabecera
{
	position:relative;
	width:100%;
}
div.contenidoCabeceraFormularios
{
	position:relative;
	width:100%;
}
/* Define el fondo y tamaño del texto de las cabeceras de los apartados */
div.contenidoCabeceraTexto
{
	clear:both;
	display: block;	
	padding: 5px 5px 5px 5px;
	background: #E8F2FD; 
	font-weight: bold;
	text-align: left;
	font-size: 105%;
	text-indent: 5px; 
}
div.contenidoCabeceraTextoFormularios
{
	padding: 5px 5px 5px 5px;
	background: #2e5c8d; 
	font-weight: bold;
	text-align: left;
	font-size: 105%;
	text-indent: 5px; 
	color: white;
}


/* Define el  tamaño del texto de las cabeceras de los apartados de los anexos*/
div.anexoCabeceraTexto
{
	padding: 5px 5px 5px 5px;
	font-weight: bold;
	text-align: left;
	font-size: 105%;
	text-indent: 5px; 
}

div.contenidoDatos
{
	position:relative;
	width:100%;
}

fieldset.contenidoCabeceraAnexo
{
	padding: 0px 0px 0px 0px; 
	border:solid #003366 2px;
	border-bottom: 0px;
	border:solid #003366 2px;
}

fieldset.contenido
{ 
	padding: 0px 0px 0px 0px;
	border:solid #003366 2px;
}
/* Este fieldset define la fuente, el borde y el fondo de las cabeceras de cada apartado del modelo*/
fieldset.contenidoCabecera
{ 
	padding: 0px 0px 0px 0px; 
	border:solid #003366 2px;
	background: #E8F2FD;
	border-bottom: 0px;
}
fieldset.contenidoCabeceraFormularios
{ 
	padding: 0px 0px 0px 0px; 
	border:solid #003366 2px;
	background: #2e5c8d;
	border-bottom: 0px;
}
fieldset.contenidoCabeceraConScroll
{ 
	padding: 0px 0px 0px 0px; 
	border:solid #003366 2px;
	background: #E8F2FD;
}
fieldset.contenidoDatosConScroll
{ 
	padding: 1px 1px 1px 1px;
	border:solid #003366 2px;
	border-top: 0px;
}
fieldset.contenidoFila
{ 
	padding: 5px 5px 5px 5px;
	border:solid #003366 2px; 
	border-bottom: 0px;
	
}
fieldset.contenidoSinBordeSuperior
{ 
	padding: 5px 5px 5px 5px;
	border:solid #003366 2px;
	border-top: 0px;
	
}

fieldset.contenidoNumeroBien
{	
	border:solid #003366 2px;
	border-top: 0px;
	padding: 0px;
}

fieldset.contenidoNumeroItem
{	
	border:solid #003366 2px; 
	border-bottom: 0px;	
	padding: 0px;
}

fieldset.contenidoDatos
{ 
	padding: 5px 5px 5px 5px;
	border:solid #003366 2px;
	
}

fieldset.bordeTablaPrincipal
{ 
	padding: 5px 5px 5px 5px;
	border:solid #003366 2px;
}

/* DEFINE LAS CARACTERISCAS DE LOS FIELDSET SOMBREADOS.*/
fieldset.sombreado 
{
	background: #F3F0DF;
	border:none; 
}


fieldset.sombreadoAmarillo 
{
	background: #f7facb;
	border:none;
	
}


fieldset.apartado
{
	background: #f4f4f4; 
	padding: 0 0.5em 1em 0.5em; 
	text-align:center
	
}




#marcosInformativos{
    font-weight: normal; 
    border: solid #ffffff;
    text-align: left;
}

#separadorFilaAncha{
    padding-top: 15px;
}

div.separadorFilaAncha{
    padding-top: 15px;
}

.letra50{
	font-size: 50%;
}
.letra60{
	font-size: 60%;
}
.letra66{
	font-size: 67%;
}
.letra70{
	font-size: 70%;
}

.letra80{
	font-size: 80%;
}

.letra90{
	font-size: 90%;
}

.letra110{
	font-size: 110%;
}

.letraNormal{
	font-size: 140%;
}

.letraTitulos{
	font-size: 220%;
}

.marcosInformativosCentrado
{ 
	text-align: center;
}

#Errores {
	overflow: auto;
	height: 130px;
	
}

.witchMaxSelect
{
	width: 435px;
}

.paralelos{
	padding: 2px 2px 2px 2px;
	display: inline;
	border: solid #ffffff;
}

.paralelosSinBorde{
	padding: 2px 2px 2px 2px;
	display: inline;
	border: solid #ffffff 0px;
	
}

.paralelosSinBordeCentradoTexto{
	padding: 2px 2px 2px 2px;
	display: inline;
	border: solid #ffffff 0px;
	text-align: center;
}

.paralelosConBorde{
	padding: 2px 2px 2px 2px;
	display: inline;
	border:solid #003366 1px;
}

.ponerborde{
	padding: 2px 2px 2px 2px;
	border:solid #003366 1px;
}

.paralelosSinPadding
{
	padding: 0px 0px 0px 0px;
	display: inline;
	height: 100%;
	width: 46%;
	vertical-align: top;
}
fieldset.contenidoDatosFilsetDeDosColumnas
{ 
	padding: 2px 2px 2px 2px;
	border:solid #003366 2px;
}
fieldset.contenidoDatosIzqFilsetDeDosColumnas
{ 
	padding: 2px 2px 2px 2px;
	border:solid #003366 2px;
	margin-right: 2%;
	height: 100%;
}
img
{
border: none;
hspace: none;
vspace: none;
}
.select165cm{
	width: 17.5cm;/** AJGG: CAMBIO PARA QUE NO SE SALGAN LOS COMBOX EN MOZILLA */
	font-size: 13px;
}


.select180cm{
	width: 18cm;/** AJGG: CAMBIO PARA QUE NO SE SALGAN LOS COMBOX EN MOZILLA */
	font-size: 13px;
}

.select14cm{
	width: 14cm;/** AJGG: CAMBIO PARA QUE NO SE SALGAN LOS COMBOX EN MOZILLA */
	font-size: 13px;
}

.select12cm{
	width: 12cm;/** AJGG: CAMBIO PARA QUE NO SE SALGAN LOS COMBOX EN MOZILLA */
	font-size: 13px;
}

.select1009px{
	/**width: 21.5cm;/** AJGG: CAMBIO PARA QUE NO SE SALGAN LOS COMBOX EN MOZILLA */
	width:99%;
	font-size: 9px;
}
.select400{
	width: 400px;
}
.select450{
	width: 450px;
}

.select_letra_size_9px{
	font-size: 9px;
}

/************************************************/
/** DIV PARA LA BARRA DE PROGRESO */
/*************************************************/
.hide { position:absolute; visibility:hidden; }
.show { position:absolute; visibility:visible; }

div.loadingBar
{
	text-align: center;
	z-index: 1; /** NIVEL DEL LAYER */
}

div.barraProgreso
{
	top: 20%;
	text-align: center;
	z-index: 4; /** NIVEL DEL LAYER */
}

div.ocultarCombo
{
	z-index: -1; /** NIVEL DEL LAYER */
	display: none;
}
/**************************************/
/** FIN DIV PARA LA BARRA DE PROGRESO */
/**************************************/

/** PARAMETROS PARA JSP DE ADMINISTRACION */
/* CLASES PARA LA CABECERA */
div.principalAdministracion
{
	position: absolute;
	top: 5px;
	left: 0px;
	padding-top: 5px;
	text-align: center;
	padding-left: 8%;
	padding-right: 8%;
	width: 84%;
	z-index: 0;

}

fieldset.cuadroParametros
{ 
	padding: 5px 5px 5px 5px;
	border:solid gray 2px;
	
}
.fondoAreaParam {
	background-color: #E8E7E1;
	color: #000000;
}

.colorTextoParametros
{
	font-style: normal;
	color: #707070; 
	font-weight: bold;
}

.TextoGrupos
{
	font-style: normal;
	color: #000000; 
	font-weight: bold;
}

/*********************************************************/
/** DEFINICIÓN DE LOS ESTILOS PARA LOS SELECT Y OPTGROUP */
/*********************************************************/
.optGroupNivel_1
{	
	font-size: 9pt; 
	background-color: #E9E9E9;
}
.optGroupNivel_2
{
	color: #595959;
	font-size: 8pt; 
}
.option
{
	color: black;
	background-color: white;
	font-size: 6pt; 
}
		



/** FIN DEFINICIÓN DE LOS ESTILOS PARA LOS SELECT Y OPTGROUP */





/** FIN PARAMETROS PARA JSP DE ADMINISTRACION */


/** NUEVOS PARAMEROS PARA LOS TITULOS CON DEGRADADO **/
div.CabeceraBienesUrbanosGradient
{
	height:18px; 
	padding: 5px 5px 5px 5px; 
	background: url(../imagenes/imgGradientes/FondoBienesUrbanosGradient.gif) 0% 0% repeat-x; 
	color: #003366; 
	font-weight: bold;
	text-align: left;
	font-size: 105%;
}

div.CabeceraBienesRusticosGradient
{
	height:18px; 
	padding: 5px 5px 5px 5px; 
	background: url(../imagenes/imgGradientes/FondoBienesRusticosGradient.gif) 0% 0% repeat-x; 
	color: #003366; 
	font-weight: bold;
	text-align: left;
	font-size: 105%;
}

/** NUEVOS PARAMEROS PARA LOS TITULOS CON DEGRADADO **/
div.CabeceraBienesOtrosGradient
{
	height:18px; 
	padding: 5px 5px 5px 5px; 
	background: url(../imagenes/imgGradientes/FondoBienesOtrosGradient.gif) 0% 0% repeat-x; 
	color: #003366; 
	font-weight: bold;
	text-align: left;
	font-size: 105%;
}


/** NUEVOS PARAMEROS PARA LOS TITULOS CON DEGRADADO **/
div.CabeceraGradientAmarillo
{
	height:18px; 
	padding: 5px 5px 5px 5px; 
	background: url(../imagenes/imgGradientes/FondoGradientAmarillo.gif) 0% 0% repeat-x; 
	color: #003366; 
	font-weight: bold;
	text-align: left;
	font-size: 105%;
}

div.CabeceraGeneralGradient
{
	height:18px; 
	padding: 5px 5px 5px 5px; 
	background: url(../imagenes/imgGradientes/FondoGeneralGradient.gif) 0% 0% repeat-x; 
	color: #003366; 
	font-weight: bold;
	text-align: left;
	font-size: 105%;
}

/** NUEVO SELECT DEL COMBO SELECCIONAR MODELO PARA QUE NO DESCUADRE LOS  MODELOS */

.selectComboModelo
{
	width: 90%;
	
}


#auSelectCodigo option {
  width:1009px;   
}

#selectConceptoDescripcion option {
  width:1009px;   
}

/*****************************************************************/



fieldset.columnaIzquierdaDatosParalelosSinBorde
{ 
	padding: 0px 0px 0px 0px;
	border:solid #ffffff 0px;
	margin-right: 2px;
	display: inline;
	width: 48%;
}

fieldset.columnaDerechaDatosParalelosSinBorde
{ 
	padding: 0px 0px 0px 0px;
	border:solid #ffffff 0px;
	display: inline;
	width: 50%;
}

/****************************************************************************/

input.busqueda
{
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background: url(../imagenes/aplicacion/lupab.gif) 30% 50% no-repeat;
	width: 34px;
	height: 34px;
	
}

input.buscando
{
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background: url(../imagenes/aplicacion/indicator.gif) 30% 50% no-repeat;
	width: 34px;
	height: 34px;
}


input.aviso
{
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background: url(../imagenes/aplicacion/botonInfo.gif) 0% 50% no-repeat;
	width: 25px;
	height: 25px;
}


label.nombreCampo
{
	font-size: 1.1em;
}

/* DEFINE LAS CARACTERISTICAS DE LOS MENSAJES INFORMATIVOS */
label.mensajeInfo
{
	padding-top: 2px;
	margin-top:2px;
	background: #F3F0DF;
	font-size: 1em;
	font-style: italic;
	display: inline;
	
}

/* DEFINE LAS CARACTERISTICAS DE LOS MENSAJES INFORMATIVOS */
label.mensajeInfoStrong
{
	padding-top: 2px;
	margin-top:2px;
	background: #F3F0DF;
	font-size: 0.9em;
	font-style: italic;
	font-weight: bold;
	display: inline;
	
}

label.mensajeInfoStrongAmarillo
{
	padding-top: 2px;
	margin-top:2px;
	background: #f7facb;
	font-size: 0.9em;
	font-style: italic;
	font-weight: bold;
	display: inline;
	
}

/* DEFINE LAS CARACTERISTICAS DE LOS DIV DE LOS MENSAJES INFORMATIVOS*/
div.ImgMensajeInfo
{
	height:18px; 
	width: 20px;
	float:left;
	padding-right: 2px;
	background: url("../imagenes/aplicacion/errorleve.gif") no-repeat;
	display: inline;
	
}

/* DEFINE LAS CARACTERISTICAS DE LOS MENSAJES INFORMATIVOS */
label.mensajeError
{
	padding-top: 2px;
	margin-top:2px;
	background: #F3F0DF;
	font-size: 1.1em;
	font-style: italic;
	display: inline;
	font-weight: bold;
	color: red;
	
}

/* DEFINE LAS CARACTERISTICAS DE LOS DIV DE LOS MENSAJES INFORMATIVOS*/
div.ImgMensajeError
{
	height:18px; 
	width: 20px;
	float:left;
	padding-right: 2px;
	background: url("../imagenes/aplicacion/marcaError.gif") no-repeat;
	display: inline;
	
}

/* Se utiliza para alinear los campos check en una fila con campos imput */
div.margentop
{
	padding-top: 3px;
}

/*******************************************************************************/
/* PROPIEDEADES PARA LA CABECERA PRINCIPAL
/*******************************************************************************/
/** CARACTERISTICAS PARA EL MARGEN PRINCIPAL*/
		.CabeceraPrincipal
		{
			position: static;
			vertical-align: top;
			padding: 0px 0px 0px 0px; 
			margin: 0px 0px 0px 0px; 
			width:100%;
			min-width:740px;
			height:86px;
			
		}
		
		

/** CARACTERISTICAS PARA LAS IMAGENES */
#colSeparadorImg
{
			
		float:left;
		padding: 0px 0px 5px 0px; 
		margin: 4px 0px 0px 0px; 
		background: #0065a3; 
		height:54px;
		left: 2px;
		top: 4px;
		z-index: -1;
		
}



#colmenu
{
	float:left;
	padding: 0px 0px 5px 0px; 
	margin: 4px 0px 0px 0px; 
	background: #0065a3; 
	height:54px;
	width:99%;
	left: 5px;
	top: 4px;
	z-index: -1;
}


#imgLogoCastillaLaMancha
{

	position: absolute;
	top: 0px;
	padding: 0px 0px 0px 2px; 
	margin: 0px 0px 0px 2px; 
	/*
	background: url('http://www.castillalamancha.es/sites/default/files/logo.png') 0% 0% no-repeat;
	width: 154px;
	height:80px;
	*/
	left: 0px;
	z-index: 1;
	

}




/************************************************************************************/
/** CARACTERISTICAS PARA EL MENU QUE CONTIENE LAS IMAGENES. */
		
		
		#imgLogoCastillaLaManchaSinFrame
		{
			position: absolute;
			top: 0px;
			padding: 0px 0px 0px 2px; 
			margin: 0px 0px 0px 2px; 
			/*
			background: url('http://www.castillalamancha.es/sites/default/files/logo.png') 0% 0% no-repeat;
			width: 154px;
			height:80px;
			*/
			left: 0px;
			z-index: 1;
		
		}
		
		
/*************************************************************************************/	

.imgLogoCastillaLaMancha
{
	width: 162px;
	height:88px;
}

#div_tituloIzq
{
	float:left;
	vertical-align: text-top;
	padding: 0px 0px 0px 165px; 
	margin: 0px 0px 0px 5px; 

}



#div_tituloDer 
{
	float:right;
	vertical-align: text-top;
	padding: 0px 0px 0px 0px; 
	margin: 0px 5px 0px 0px; 


}


.text_tituloDer
{
	font: 0.45cm Arial, sans-serif;
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px; 
	color:white;
	text-align: left;
	vertical-align: text-top;
}

.text_tituloIzqGrande
{
	font: 0.5cm Arial, sans-serif;
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px; 
	color:white;
	text-align: left;
	vertical-align: text-top;
}

.text_tituloPequenyo
{
	font: 0.30cm Arial, sans-serif;
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px; 
	color:white;
	text-align: left;
	vertical-align: text-top;
}






/***************************************************************************************/
/* FIN DE LAS PROPIEDADES PARA LA CABECERA PRINCIPAL */
/***************************************************************************************/
/***************************************************************************************/
/* PROPIEDADES PARA LA OFICINA ELECTRONICA */
LEGEND.oficinaElectronica
{
	font-weight:bold;
	font-size: 1.1em;
	border:1px #012D5A;
	padding:0.2em 0.8em;
	margin:1em 0; 
	background:#0065a3;
	color:#FFFFFF
}

/* DEFINE LAS CARACTERISTICAS DE TODAS LOS LEGEND */
legend
{
	font-size: 1em;
	font-style: oblique;
	font-weight: bold;
	color: #1266AB;
	text-align: left;
	padding-top: 9px;
}

FIELDSET.oficinaElectronica
{
	border:1px solid #012D5A; 
	background: url(../imagenes/fondoDegradadoPrincipal.gif) 0% 0% repeat-x; 
	padding: 0 0.5em 1em 0.5em; 
	text-align:center
}

/****************************************************************************************/


/****************************************************************************************/
/*AJGG. FORMATO DE LOS BOTONES DE PORCESO CUANDO ESTAN PROCESANDO UNA PETICIÓN			*/
/****************************************************************************************/
.formatoBotonProcesando
{
	border-style: inset;
	background-color: #f0ebe1;
	color: #000000;
}

/******************************************************************************************/
/* AJGG. FORMATO NUEVO INDICE ADMISTRACIÓN
/******************************************************************************************/
.btnItemIndexAdmin 
{ 
	/*line-height: 0.25;*/ 
	display: block; 
	position: relative; 
	float: left; 
	text-align: left;
	background: none; 
	padding: 5px; 
	color: #00227b; 
	text-decoration: none; 
	cursor: pointer;
	border: none;
	width: 100%; 
}

.btnItemIndexAdmin:hover 
{ 
	/*line-height: 0.50;*/ 
	display: block; 
	position: relative; 
	float: left; 
	text-align: left;
	background: #E8F2FD;  
	padding: 5px; 
	float: left; 
	color: #00227b; 
	font-weight: bold;
	text-decoration: none; 
	cursor: pointer;
	border: none; 
	width: 100%;  
}

.btnItemIndexAdminHighlight
{ 
	/*line-height: 0.50;*/ 
	display: block; 
	position: relative; 
	float: left; 
	text-align: left;
	background: #E8F2FD;  
	padding: 5px; 
	float: left; 
	color: #00227b; 
	font-weight: bold;
	text-decoration: none; 
	cursor: pointer;
	border: none; 
	width: 100%; 
}

.aItemIndexAdmin 
{ 
	/*line-height: 0.50;*/ 
	display: block; 
	position: relative; 
	float: left; 
	text-align: left;
	background: none; 
	padding: 5px; 
	color: #00227b; 
	text-decoration: none; 
	cursor: pointer;
	border: none; 
}

.aItemIndexAdmin:hover 
{ 
	/*line-height: 0.75; */
	display: block; 
	position: relative; 
	float: left; 
	text-align: left;
	background: #b20060;  
	padding: 5px; 
	float: left; 
	color: #ffffff; 
	font-weight: bold;
	text-decoration: none; 
	cursor: pointer;
	border: none; 
}

.aItemIndexAdminAzul 
{ 
	display: block; 
	position: relative; 
	float: left; 
	text-align: left;
	background: none; 
	padding: 0px; 
	color: #00227b; 
	text-decoration: underline; 
	cursor: pointer;
	border: none; 
}

.aItemIndexAdminAzul:hover 
{ 	
	display: block; 
	position: relative; 
	float: left; 
	text-align: left;	
	padding: 0px; 
	float: left; 
	color:  #855801; 
	font-weight: bold;
	text-decoration: underline; 
	cursor: pointer;
	border: none; 
}

.labelItemIndexAdmin 
{ 
	color: #000000; 
	text-decoration: none; 
	font-size: 80%;
}

div.filaTabla
{
	clear:both;
	display: block;	
	text-align: left;
	vertical-align: middle;
	z-index: auto;
	width: 90%;
}

div.filaTabla:hover 
{
	clear:both;
	display: block;
	text-align: left;
	vertical-align: middle;
	z-index: auto;
	background: #f4e6d1 ;
	width: 90%;
}

div.colTable
{
	float:left;
	background: inherit;
	width: 30%;
	
}

div.colTable40prcnt
{
	float:left;
	background: inherit;	
	width: 40%;
	
}

div.colComunidadAutonomaTable
{
	float:left;
	background: inherit;
	width: 30%;
	
}

/******************************************************************/
/************ clases para los pop-up css **************************/

div.capaAsistente 
{
	DISPLAY: none; 
	Z-INDEX: 1002; 
	BORDER: 2px solid #012D5A;
	POSITION: absolute; 
	BACKGROUND: #fff;	
	HEIGHT: 85%;
	WIDTH: 85%;
	MARGIN-TOP: -100px; 
	MARGIN-LEFT: -150px; 
	OVERFLOW: visible; 
	TOP: 20%; 
	LEFT: 28%;
}

div.capaFondoDisabledAsistente
{
	Z-INDEX: 1001; 
	POSITION: absolute; 
	BACKGROUND-COLOR: #CCC; 
	DISPLAY: none;
	WIDTH: 100%;	
	HEIGHT: 300%; 
	TOP: 0; 
	LEFT: 0; 
	FILTER: alpha(opacity=60);
	-moz-opacity: 0.6; 
	opacity: .6;
}

/* NUEVAS CLASES CSS PARA LOS ASISTENTES */

div.capaAsistenteAncho68
{
	DISPLAY: none; 
	Z-INDEX: 1002; 
	BORDER: 2px solid #012D5A;
	POSITION: absolute; 
	BACKGROUND: #fff;	
	HEIGHT: auto;
	WIDTH: 68%;	
	OVERFLOW: visible; 
	TOP: 15%; 
	LEFT: 14%;
	padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

div.capaAsistenteAncho72
{
	DISPLAY: none; 
	Z-INDEX: 1002; 
	BORDER: 2px solid #012D5A;
	POSITION: absolute; 
	BACKGROUND: #fff;	
	HEIGHT: auto;
	WIDTH: 72%;	
	OVERFLOW: visible; 
	TOP: 15%; 
	LEFT: 12%;
	padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

div.capaAsistenteAncho80
{
	DISPLAY: none; 
	Z-INDEX: 1002; 
	BORDER: 2px solid #012D5A;
	POSITION: absolute; 
	BACKGROUND: #fff;	
	HEIGHT: auto;
	WIDTH: 80%;	
	OVERFLOW: visible; 
	TOP: 15%; 
	LEFT: 8%;
	padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

div.capaAsistenteAncho90
{
	DISPLAY: none; 
	Z-INDEX: 1002; 
	BORDER: 2px solid #012D5A;
	POSITION: absolute; 
	BACKGROUND: #fff;	
	HEIGHT: auto;
	WIDTH: 90%;	 
	OVERFLOW: visible; 
	TOP: 15%;
	LEFT: 3%;	
	padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

div.capaAsistenteMensajeSesion
{
	DISPLAY: none; 
	Z-INDEX: 2000; 
	BORDER: 2px solid #012D5A;
	POSITION: absolute; 
	BACKGROUND: #fff;	
	HEIGHT: auto;
	WIDTH: 50%;
	MARGIN-TOP: -100px; 
	MARGIN-LEFT: -150px; 
	OVERFLOW: visible; 
	TOP: 20%; 
	LEFT: 35%;
	padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    font-size: 9pt;
    font-weight: normal; 
}

div.capaAsistenteAjuntarDocumentacion
{
	DISPLAY: none; 
	Z-INDEX: 1002; 
	BORDER: 3px solid #012D5A;
	POSITION: absolute; 
	BACKGROUND: #fff;	
	HEIGHT: auto;
	WIDTH: 80%;	 
	OVERFLOW: visible; 
	TOP: 35%;
	LEFT: 8%;	
	padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

div.capaFondoDisabledAsistenteMensajeSesion
{
	Z-INDEX: 1999; 
	POSITION: absolute; 
	BACKGROUND-COLOR: #CCC; 
	DISPLAY: none;
	WIDTH: 100%;	
	HEIGHT: 300%; 
	TOP: 0; 
	LEFT: 0; 
	FILTER: alpha(opacity=60);
	-moz-opacity: 0.6; 
	opacity: .6;
}

div.capaFondoDisabledAsistente600_2009
{
	Z-INDEX: 1001; 
	POSITION: absolute; 
	BACKGROUND-COLOR: #CCC; 
	DISPLAY: none;
	WIDTH: 100%;	
	HEIGHT: 320%; 
	TOP: 0; 
	LEFT: 0; 
	FILTER: alpha(opacity=60);
	-moz-opacity: 0.6; 
	opacity: .6;
}

div.capaFondoDisabledAsistente651_2008
{
	Z-INDEX: 1001; 
	POSITION: absolute; 
	BACKGROUND-COLOR: #CCC; 
	DISPLAY: none;
	WIDTH: 100%;	
	HEIGHT: 320%; 
	TOP: 0; 
	LEFT: 0; 
	FILTER: alpha(opacity=60);
	-moz-opacity: 0.6; 
	opacity: .6;
}

div.capaFondoDisabledAsistente651_2008_liquidacion
{
	Z-INDEX: 1001; 
	POSITION: absolute; 
	BACKGROUND-COLOR: #CCC; 
	DISPLAY: none;
	WIDTH: 100%;	
	HEIGHT: 340%; 
	TOP: 0; 
	LEFT: 0; 
	FILTER: alpha(opacity=60);
	-moz-opacity: 0.6; 
	opacity: .6;
}

div.capaFondoDisabledAsistenteCalculoValorBienUrbano
{
	Z-INDEX: 1001; 
	POSITION: absolute; 
	BACKGROUND-COLOR: #CCC; 
	DISPLAY: none;
	WIDTH: 100%;	
	HEIGHT: 100%; 
	TOP: 0; 
	LEFT: 0; 
	FILTER: alpha(opacity=60);
	-moz-opacity: 0.6; 
	opacity: .6;
}

div.capaAsistentePagosParciales
{
	DISPLAY: none; 
	Z-INDEX: 1002; 
	BORDER: 3px solid #012D5A;
	POSITION: absolute; 
	BACKGROUND: #fff;	
	HEIGHT: auto;
	WIDTH: 85%;	 
	OVERFLOW: visible; 
	TOP: 7%;
	LEFT: 6%;	
	padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 2%;
    padding-left: 1%;
}


div.asistenteVisible
{
	DISPLAY: block; 
}

/******************************************************************/

.textoJustificado
{
	text-align: justify;
}


.textoJustificadoPadding
{
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
}


.hideBotonBuscar 
{
	width:0; 
	height:0; 
	border:0; 
	background-color:inherit;
	overflow:hidden;
}


.btnImportExport 
{ 
	display: block; 
	position: relative; 
	float: left; 
	text-align: left;
	background: #cccccc; 
	padding: 2px; 
	color: black; 
	font-weight: normal;
	text-decoration: none; 
	cursor: pointer;
	border: none;
}

.btnImportExport :hover 
{ 
	display: block; 
	position: relative; 
	float: left; 
	text-align: left;
	background: #E8F2FD; 
	padding: 2px; 
	color: #00227b; 
	font-weight: normal;
	text-decoration: none; 
	cursor: pointer;
	border: none;
}

/* ESTILOS PARA MAQUETACION CON DIV - ESTILO TABLE */

.contenedor-tabla {
	display: table;
}

.contenedor-fila {
	display: table-row;
}

.contenedor-columna {
	display: table-cell;
	text-align: justify;
}

.contenedor-columna-40px { 
	display: table-cell;
	width: 40px;
	text-align: left;
}

.subrayado 
{
	text-decoration: underline;
}

.sinNegrita
{
	font-weight: normal;
}

/* ---------------------------------------------------------------------------------- */
/**  DEFINICIÓN DE LA CABECERA DE LA TABLA DE DATOS ADJUNTAR DOCUMENTACION. */
.datos
{
	border-spacing:0;
	width:100%;
	margin:5px auto;
	background:#fff;
	text-align: left;
}

.datos TH, .datos TD
{
	padding:0.5em 0.8em;
	vertical-align:middle;
	border-top:1px solid #A0A0A0;
	color: black;
}

.datos TH
{
	color:#855801;
}

.datos TH
{
	border-top:2px solid #855801;
	border-bottom:1px solid #855801;
	padding-bottom:2px
}

/** FONDO DE LAS FILAS */
.par
{
	background:  #F3F0DF;
}

.columna_5_porciento
{
	width: 5%;
}
 

.columna_30_porciento
{
	width: 30%;
}

div.filaSeparadorIndice
{
	margin-top:15px;
	background-color: #003366;
	width: 90%;
	height: 3px;
}

.ui-tooltip {
    width: 210px;
  }
  
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}

.ui-dialog .ui-dialog-title, .ui-dialog .ui-dialog-buttonpane {
    text-align:center;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

/* background de los jdialog */
.ui-widget-overlay {
  background: #aaaaaa;
  opacity: 0.3 !important;
  filter: Alpha(Opacity=.3);
}


.columna_70_porciento
{
	width: 70%;
}

.containerSelect2
{
	width: 650px; max-width: 700px; min-width:200px;
}

.classSelect2
{
	width: 100%; max-width: 700px; min-width:200px;
}

.botonCabecera
{
	padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin: 2px, 2px, 2px, 2px;
    border-radius:.25rem;
    height:33px;
}

.labelInline
{
	display: inline;
	/*width: auto;*/
}


.form-select {
  display: inline-block;
  width: auto;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select 
{
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/*input[type="text"]*/
input, button, submit
{
  padding: 0.375rem 0.575rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="file"]
{
  padding: 0.375rem 0.375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: none;
}




.textoModeloCabeceraResponsibe {
	color: #002855 !important;
	font-size: 1.8rem;
}

@media (max-width: 768px) 
{
	.textoModeloCabeceraResponsibe {
		color: #002855 !important;
		font-size: 1.3rem;
	}	
}


.textAutoliquidacionCabeceraResponsibe
{
	color: #002855 !important;
}


.form-select-width_100 {
  display: inline-block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.icono-trash
{
	display:inline-block;
}
.icono-trash:hover
{
	display:inline-block;
	background-color: #fdfba8;
	border: 1px;
}


.label-left { float: left; }


/***********************************************************/
/** Estilos creados para la version responsive de webgreco */
/***********************************************************/

/** Estilos comunes para todas las columnas col que usamos en el responsive */
.colResponsive /*text-left pl-4 pr-4 mt-2*/ 
{   
	text-align: left !important;
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
	margin-top: .5rem !important;
}

/** Cuando usamos el select2 de jquery no es posible poner width:100% a menos que se reescriba este estilo interno de jquery
    y es imprescindible ponerlo para que pueda funcionar bien el responsive tal y como lo estamos usando, sino la caja del combo se desbordaria*/
.select2-container
{
	width:100% !important;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
}
